/build/

.gradle/2.13-rc-1/taskArtifacts/cache.properties
*.classpath
*.project
.gradle/2.13-rc-1/taskArtifacts/cache.properties.lock
*.bin
*.prefs
.gradle/2.2.1/taskArtifacts/cache.properties
*.lock
/.gradle/
/.settings/
/build.gradle.bak
/settings.gradle.bak
/.idea/
/bboss-plugins.iml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
